.container {
    width: 1170px;
    margin: 0 auto;
}

.header {
    height: 80px;
}

.portfolio-header {
    border-bottom: 1px solid #ECECEC;
}

.service {
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.40),
            rgba(47, 48, 58, 0.40)),
        url(../img/background-service.jpg);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover, cover;
    padding: 200px 0;
}

.service-box {
    padding-left: 237px;
    padding-right: 237px;
}

.details {
    padding: 94px 0;
}

.occupation {
    padding-bottom: 94px;
}

.command {
    padding: 94px 0px;
    background: #F5F4FA;
}

.portfolio-btn-box {
    padding-top: 94px;
    padding-bottom: 50px;
}

.portfolio-img-box {
    padding-bottom: 94px;
}

.footer {
    padding: 60px 0px;
}