.container {
    width: 1170px;
    margin: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    border-bottom: 1px solid #ECECEC;
    ;
}

.nav-list-menu {
    padding: 25px 0px;
}

.service {
    background-image: url(../img/background-service.jpg);
    height: 600px;
    display: flex;
    align-items: center;
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
}

.service-box {
    padding-left: 237px;
    padding-right: 237px;
}

.details {
    padding: 94px 0;
}

.occupation {
    padding-bottom: 94px;
}

.command {
    padding: 94px 0px;
    background: #F5F4FA;
}

.portfolio-btn-box {
    padding-top: 94px;
    padding-bottom: 50px;
}

.portfolio-img-box {
    padding-bottom: 94px;
}

.footer {
    padding: 60px 0px;
}